// Global styles
@import "./base";

// Components
@import "./components/header";
@import "./components/footer";
@import "./components/loader";

// Pages
@import "./pages/home";
@import "./pages/all-cars";
@import "./pages/create-car";
@import "./pages/edit-car";
@import "./pages/login";
@import "./pages/not-found";
